{%extends 'home/Base.html'%}
{%block content%}
{%load static%}

<link rel="stylesheet" type="text/css" href="{% static 'home/css/profile.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/login.css' %}">
<!-- Messages Start -->
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<script type=text/javascript>toastr.options.positionClass='toast-bottom-right'
	;toastr.{{ message.tags }}('{{ message }}')</script> {% elif message.tags == 'info' %} <script
	type=text/javascript>toastr.options.positionClass='toast-bottom-right'
	;toastr.{{ message.tags }}('{{ message }}')</script> {% elif message.tags == 'warning' %} <script
	type=text/javascript>toastr.options.positionClass='toast-bottom-right'
	;toastr.{{ message.tags }}('{{ message }}')</script> {% elif message.tags == 'error' %} <script
	type=text/javascript>toastr.options.positionClass='toast-bottom-right'
	;toastr.{{ message.tags }}('{{ message }}')</script> {% endif %} {% endfor %} {% endif %} <!-- Messages End -->
	<div class="container py-5 my-5">
		<!-- Example single danger button -->
		
	<div class="row row-cols-1 row-cols-md-3 gy-4">
		{%if songs%}
		{%for song in songs%}
		
		<div class="col">
			<div class="card text-left">
				
				<div class="card-body">
					
					<h5 class="card-title p-2" style="text-align: left;">{{song.name}} </h5>
					<a href="/song/{{song.url}}"></a>
					<a href="/edit-song/{{song.url}}" class="btn p-2 my-2" style="color: black";text-align="left"><i
							class="fa-solid fa-pen"></i> Edit</a>
					
					<a href="#" class="btn p-2 my-2" style="color: red" onClick="deleteConfirm('/delete-song/{{song.url}}')"><i
							class="fa-solid fa-trash"></i>
						Delete</a>
						
					<div class="card-footer mt-3">
						<small class="text-muted">Uploaded and Seperated {{ song.timesince }} ago</small>

					</div>
				</div>
			</div>
		</div>
		{%endfor%}
		{%else%}
		<h1 class="noSongs align-middle">No Songs Seperated yet.</h1>
		{%endif%}
	</div>
</div>
<script>
	$(".card").click(function() {
		$(this).find("a")[0].click();
	  });
</script>

{%endblock%}