{%extends 'home/Base.html'%}
{%block content%}
{%load static%}
<style>
	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	.btn {
		text-decoration: none !important;
	}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'home/css/login.css' %}">
<!-- Messages Start -->
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success'%}
<script type=text/javascript>toastr.options.positionClass='toast-bottom-right'
	;toastr.{{ message.tags }}('{{ message }}')</script> {% elif message.tags == 'info' %} <script
	type=text/javascript>toastr.options.positionClass='toast-bottom-right'
	;toastr.{{ message.tags }}('{{ message }}')</script> {% elif message.tags == 'warning' %} <script
	type=text/javascript>toastr.options.positionClass='toast-bottom-right'
	;toastr.{{ message.tags }}('{{ message }}')</script> {% elif message.tags == 'error' %} <script
	type=text/javascript>toastr.options.positionClass='toast-bottom-right'
	;toastr.{{ message.tags }}('{{ message }}')</script> {% endif %} {% endfor %} {% endif %} <!-- Messages End -->
	<script src="https://unpkg.com/wavesurfer.js"></script>

<div class="container">
	<div class="row">
		<div class="col-lg-10 col-xl-9 mx-auto">
			<div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
				<div class="card-body p-4 p-sm-5">
					<h5 class="card-title text-center mb-5 fw-light fs-5 fw-bolder">{{song.name}}</h5>
					<div class="container">
						<div class="row">
							<div class="col-md-6 center">
								<label for="song" class="d-flex justify-content-center fw-bolder">Source</label>
								<label for="song" class="my-3 d-flex justify-content-center fw-bolder">Original
									Song</label>
								<audio id="song_source" preload="auto">
									<source src="/media/{{song.upload}}">
								</audio>
								<span id="song_status" class="center">Click to Play</span>

								<!-- New span element to display the status -->
								<img src="{%static '/home/images/song.png' %}" onClick="toggleAudioSource();"
									class="center" />

								<div id="waveform_source"></div>
								<a href="/media/{{song.upload}}" download>
									<button class="btn mt-3 center">
										<i class="fa-solid fa-download"></i>
										<span
											style="text-decoration: underline; text-decoration-color: white;">Download</span>
									</button>
								</a>



								<script>
									var waveform_source = WaveSurfer.create({
										container: '#waveform_source',
										waveColor: '#ddd',
										progressColor: '#ff0990',
										barWidth: 4,
										responsive: true,
										barRadius: 4,
										backend: 'MediaElement'
									});
									waveform_source.load('/media/{{song.upload}}');
									waveform_source.on('waveform-ready', function () {
										var wave = document.getElementById('waveform_source');
										wave.style.display = "none";
									});

									function toggleAudioSource() {
										var wave = document.getElementById('waveform_source');
										var status = document.getElementById('song_status'); // Get the span element
										if (!waveform_source.isPlaying()) {
											wave.style.display = "block";
											waveform_source.playPause();
											status.innerText = "Playing..."; // Update the status
											status.style.color = "red"; // Change the text color to red
										} else {
											wave.style.display = "none";
											waveform_source.playPause();
											status.innerText = "Paused"; // Update the status
											status.style.color = "black"; // Change the text color back to black
										}
									}
								</script>
							</div>
						</div>
						<hr class="hr" style="border: 5px solid #000;
						border-radius: 5px; opacity: 1;" />
						<div class="row">
							<div class="col-md-12">
								<label for="song"
									class="d-flex justify-content-center fw-bolder center">Separated</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">

								<label for="song" class="my-3 d-flex justify-content-center fw-bolder"><i
										class="fa-solid fa-guitar me-2"></i>
									Bass: Played in
									{{song.bass}}%
									of the song</label>
								<audio id="song_separated_bass" preload="auto">
									<source src="/media/{{path}}/bass.wav">
								</audio>
								<span id="song_status_bass" class="center">Click to Play</span>
								<img src="{%static '/home/images/guitar.png' %}" onClick="toggleAudioBass();"
									class="center" />
								<div id="waveform_bass"></div>
								<a href="/media/{{path}}/bass.wav" download>
									<button class="btn mt-3 center">
										<i class="fa-solid fa-download"></i>
										<span
											style="text-decoration: underline; text-decoration-color: white;">Download</span>
									</button>
								</a>
								<script>
									var waveform_bass = WaveSurfer.create({
										container: '#waveform_bass',
										waveColor: '#ddd',
										progressColor: '#ff0990',
										barWidth: 4,
										responsive: true,
										barRadius: 4,
										backend: 'MediaElement'
									});
									waveform_bass.load('/media/{{path}}/bass.wav');
									waveform_bass.on('waveform-ready', function () {
										var wave = document.getElementById('waveform_bass');
										wave.style.display = "none";
									});

									function toggleAudioBass() {
										var wave = document.getElementById('waveform_bass');
										var status = document.getElementById('song_status_bass'); // Get the span element
										if (!waveform_bass.isPlaying()) {
											wave.style.display = "block";
											waveform_bass.playPause();
											status.innerText = "Playing..."; // Update the status
											status.style.color = "red"; // Change the text color to red
										} else {
											wave.style.display = "none";
											waveform_bass.playPause();
											status.innerText = "Paused"; // Update the status
											status.style.color = "black"; // Change the text color back to black
										}
									}
								</script>
							</div>
							<div class="col-md-6">
								<label for="song" class="my-3 d-flex justify-content-center fw-bolder"><i
										class="fa-solid fa-drum me-2"></i>
									Drums:
									Played in {{song.drums}}% of the song</label>
								<audio id="song_separated_drums" preload="auto">
									<source src="/media/{{path}}/drums.wav">
								</audio>
								<span id="song_status_drums" class="center">Click to Play</span>
								<img src="{%static '/home/images/drums.png' %}" onClick="toggleAudioDrums();"
									class="center" />
								<div id="waveform_drums"></div>
								<a href="/media/{{path}}/drums.wav" download>
									<button class="btn mt-3 center">
										<i class="fa-solid fa-download"></i>
										<span
											style="text-decoration: underline; text-decoration-color: white;">Download</span>
									</button>
								</a>
								<script>
									var waveform_drums = WaveSurfer.create({
										container: '#waveform_drums',
										waveColor: '#ddd',
										progressColor: '#ff0990',
										barWidth: 4,
										responsive: true,
										barRadius: 4,
										backend: 'MediaElement'
									});
									waveform_drums.load('/media/{{path}}/drums.wav');
									waveform_drums.on('waveform-ready', function () {
										var wave = document.getElementById('waveform_drums');
										wave.style.display = "none";
									});

									function toggleAudioDrums() {
										var wave = document.getElementById('waveform_drums');
										var status = document.getElementById('song_status_drums'); // Get the span element
										if (!waveform_drums.isPlaying()) {
											wave.style.display = "block";
											waveform_drums.playPause();
											status.innerText = "Playing..."; // Update the status
											status.style.color = "red"; // Change the text color to red
										} else {
											wave.style.display = "none";
											waveform_drums.playPause();
											status.innerText = "Paused"; // Update the status
											status.style.color = "black"; // Change the text color back to black
										}
									}
								</script>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label for="song" class="my-3 d-flex justify-content-center fw-bolder"><i
										class="fa-solid fa-microphone-lines me-2"></i>
									Vocals:
									Played in {{song.vocals}}% of the song</label>
								<audio id="song_separated_vocals" preload="auto">
									<source src="/media/{{path}}/vocals.wav">
								</audio>
								<span id="song_status_vocals" class="center">Click to Play</span>
								<img src="{%static '/home/images/vocals.png' %}" onClick="toggleAudioVocals();"
									class="center" />
								<div id="waveform_vocals"></div>
								<a href="/media/{{path}}/vocals.wav" download>
									<button class="btn mt-3 center">
										<i class="fa-solid fa-download"></i>
										<span
											style="text-decoration: underline; text-decoration-color: white;">Download</span>
									</button>
								</a>
								<script>
									var waveform_vocals = WaveSurfer.create({
										container: '#waveform_vocals',
										waveColor: '#ddd',
										progressColor: '#ff0990',
										barWidth: 4,
										responsive: true,
										barRadius: 4,
										backend: 'MediaElement'
									});
									waveform_vocals.load('/media/{{path}}/vocals.wav');
									waveform_vocals.on('waveform-ready', function () {
										var wave = document.getElementById('waveform_vocals');
										wave.style.display = "none";
									});

									function toggleAudioVocals() {
										var wave = document.getElementById('waveform_vocals');
										var status = document.getElementById('song_status_vocals'); // Get the span element
										if (!waveform_vocals.isPlaying()) {
											wave.style.display = "block";
											waveform_vocals.playPause();
											status.innerText = "Playing..."; // Update the status
											status.style.color = "red"; // Change the text color to red
										} else {
											wave.style.display = "none";
											waveform_vocals.playPause();
											status.innerText = "Paused"; // Update the status
											status.style.color = "black"; // Change the text color back to black
										}
									}
								</script>

							</div>
							<div class="col-md-6">
								<label for="song" class="my-3 d-flex justify-content-center fw-bolder"><i
										class="fa-solid fa-keyboard me-2"></i>
									Piano:
									Played in {{song.piano}}% of the song</label>
								<audio id="song_separated_piano" preload="auto">
									<source src="/media/{{path}}/piano.wav">
								</audio>
								<span id="song_status_piano" class="center">Click to Play</span>
								<img src="{%static '/home/images/piano.png' %}" onClick="toggleAudioPiano();"
									class="center" />
								<div id="waveform_piano"></div>
								<a href="/media/{{path}}/piano.wav" download>
									<button class="btn mt-3 center">
										<i class="fa-solid fa-download"></i>
										<span
											style="text-decoration: underline; text-decoration-color: white;">Download</span>
									</button>
								</a>
								<script>
									var waveform_piano = WaveSurfer.create({
										container: '#waveform_piano',
										waveColor: '#ddd',
										progressColor: '#ff0990',
										barWidth: 4,
										responsive: true,
										barRadius: 4,
										backend: 'MediaElement'
									});
									waveform_piano.load('/media/{{path}}/piano.wav');
									waveform_piano.on('waveform-ready', function () {
										var wave = document.getElementById('waveform_piano');
										wave.style.display = "none";
									});

									function toggleAudioPiano() {
										var wave = document.getElementById('waveform_piano');
										var status = document.getElementById('song_status_piano'); // Get the span element
										if (!waveform_piano.isPlaying()) {
											wave.style.display = "block";
											waveform_piano.playPause();
											status.innerText = "Playing..."; // Update the status
											status.style.color = "red"; // Change the text color to red
										} else {
											wave.style.display = "none";
											waveform_piano.playPause();
											status.innerText = "Paused"; // Update the status
											status.style.color = "black"; // Change the text color back to black
										}
									}
								</script>

							</div>
						</div>
						<div class="row">
							<div class="col-md-6 center">
								<label for="song" class="my-3 d-flex justify-content-center fw-bolder"><i
										class="fa-solid fa-music me-2"></i>
									Other
									Instruments</label>
								<audio id="song_separated_others" preload="auto">
									<source src="/media/{{path}}/other.wav">
								</audio>
								<span id="song_status_others" class="center">Click to Play</span>
								<img src="{%static '/home/images/other.png' %}" onClick="toggleAudioOther();"
									class="center" />
								<div id="waveform_others"></div>
								<a href="/media/{{path}}/other.wav" download>
									<button class="btn mt-3 center">
										<i class="fa-solid fa-download"></i>
										<span
											style="text-decoration: underline; text-decoration-color: white;">Download</span>
									</button>
								</a>
								<script>
									var waveform_others = WaveSurfer.create({
										container: '#waveform_others',
										waveColor: '#ddd',
										progressColor: '#ff0990',
										barWidth: 4,
										responsive: true,
										barRadius: 4,
										backend: 'MediaElement'
									});
									waveform_others.load('/media/{{path}}/other.wav');
									waveform_others.on('waveform-ready', function () {
										var wave = document.getElementById('waveform_others');
										wave.style.display = "none";
									});

									function toggleAudioOther() {
										var wave = document.getElementById('waveform_others');
										var status = document.getElementById('song_status_others'); // Get the span element
										if (!waveform_others.isPlaying()) {
											wave.style.display = "block";
											waveform_others.playPause();
											status.innerText = "Playing..."; // Update the status
											status.style.color = "red"; // Change the text color to red
										} else {
											wave.style.display = "none";
											waveform_others.playPause();
											status.innerText = "Paused"; // Update the status
											status.style.color = "black"; // Change the text color back to black
										}
									}
								</script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{%endblock%}