body {
	background: url(images/bg.png) repeat 0 0;
}
#song_source {
	width: 100%;
}
#song_seperated {
	width: 100%;
}
.card-img-left {
	width: 45%;
	/* Link to your background image using in the property below! */
	background: scroll center url(images/2.jpg);
	background-size: cover;
}
.cancel {
	color: white;
	background-color: red;
	border-color: red;
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
}
.cancel:hover {
	color: white;
	background-color: #7d0000;
	border-color: #7d0000;
}
.cancel:active {
	color: white;
	background-color: red;
	border-color: red;
}
.btn:active {
	color: white;
	background-color: #ff0990;
	border-color: #ff0990;
}
.cancel:focus {
	color: white;
	background-color: red;
	border-color: red;
}
.btn:focus {
	color: white;
	background-color: #ff0990;
	border-color: #ff0990;
}
.btn-login {
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
	color: white;
	background-color: #ff0990;
	border-color: #ff0990;
}
.btn-login:hover {
	color: black;
	background-color: pink;
	border-color: pink;
}
