body {
	background: #007bff;
	background: linear-gradient(to right, #0062e6, #33aeff);
}
.noSongs {
	border-radius: 100px;
	background: #ff1d8e;
	border: 5px solid black;
	color: #fff;
	font-size: 5em;
	text-align: center;
	width: 100%;
	height: 65vh;
	padding-top: 25vh;
}
